[package]
name = "zeth-core"
version = { workspace = true }
edition = { workspace = true }
rust-version = { workspace = true }
license = { workspace = true }
repository = { workspace = true }

[features]
# Allow proving of pre-merge (Proof-of-Work) blocks.
# This is considered unsafe because reth does not correctly validate all difficulty constraints.
unsafe-pre-merge = []
# Enable R0VM optimized implementation for precompiles
r0vm = ["dep:ark-ec", "dep:ark-ff", "dep:ark-secp256r1", "dep:num-bigint", "dep:risc0-bigint2"]

[dependencies]
alloy-primitives = { workspace = true, features = ["map"] }
alloy-rlp = { workspace = true }
num-bigint = { workspace = true, optional = true }
reth-chainspec = { workspace = true }
reth-errors = { workspace = true }
reth-ethereum-primitives = { workspace = true }
reth-evm = { workspace = true }
reth-evm-ethereum = { workspace = true }
reth-primitives-traits = { workspace = true }
reth-stateless = { workspace = true }
reth-trie-common = { workspace = true }
risc0-bigint2 = { workspace = true, optional = true }
risc0-ethereum-trie = { workspace = true }
serde = { workspace = true }
serde_with = { workspace = true }

[target.'cfg(not(target_os = "zkvm"))'.dependencies]
ark-ec = { version = "0.5", optional = true }
ark-ff = { version = "0.5", optional = true }
ark-secp256r1 = { version = "0.5", optional = true }

[dev-dependencies]
rstest = "0.26"

[lints]
workspace = true
