[package]
name = "zeth-core"
version = { workspace = true }
edition = { workspace = true }
rust-version = { workspace = true }

[dependencies]
alloy-primitives = { workspace = true, features = ["map"] }
alloy-rlp = { workspace = true }
reth-chainspec = { workspace = true }
reth-errors = { workspace = true }
reth-ethereum-primitives = { workspace = true }
reth-evm = { workspace = true }
reth-evm-ethereum = { workspace = true }
reth-primitives-traits = { workspace = true }
reth-stateless = { workspace = true }
reth-trie-common = { workspace = true }
risc0-ethereum-trie = { workspace = true }
serde = { workspace = true }
serde_with = { workspace = true }

[features]
# Allow proving of pre-merge (Proof-of-Work) blocks.
# This is considered unsafe because reth does not correctly validate all difficulty constraints.
unsafe-pre-merge = []
